body {
  text-align: center;
  background-color: darkslateblue;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3.5rem;
  margin: 5%;
  color: #fef2bf;
}

#info-title {
  margin: 3%;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
}
a {
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  text-decoration: none;
  display: inline-block;
  margin-top: 2%;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\00BB";
  color: #fef2bf;
  font-weight: bold;
  display: inline-block;

  /* width: 1em;
  margin-left: -1em; */
}

li {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}

.container {
  display: block;
  width: auto;
  margin: auto;
}

.btn {
  display: inline-block;
  margin: 20px;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 30%;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

footer {
  font-family: "Press Start 2P", cursive;
  font-weight: lighter;
  color:black;
  font-size: 0.8rem;
  padding: 1% 3%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 450px) {
  body {
    background-color: rgb(38, 109, 114);
  }
  h1 {
    margin: 20px;
    font-size: 2rem;
  }

  #info-title {
    font-size: 1rem;
  }

  li {
    font-size: 0.5rem;
    text-align: left;
    line-height: 1.5;
  }
  a {
    display: inline-block;
    margin-top: 10%;
  }
  
  .btn {
    margin: 30px 4px 0;
    height: 100px;
    width: 100px;
    border: 6px solid black;
    border-radius: 30%;
  }
  .mobile-version{
    font-size: 0.8rem;
    padding: 20% 0 0 0;
    color: #fef2bf;
  }
}
